* {
    outline: none;
}

textarea {
    resize: none !important;
}

img {
    width: 60px;
    height: 60px;
}

html body {
    background-color: #c7cbd4;
}

.comment-delete {
    font-size: 20px !important;
    color: #868686;
}
.comment-delete:hover {
    cursor: pointer;
    color: #dc3545;
}

.bg-hot {
    background-color: #631a15;
}

.center_div{
    margin: 2% auto;
    background-color: white;
    width:100%;
    padding: 20px;
    border-radius: 10px;
}

.center_div p {
    font-weight: bold;
    margin-top: 2%;
}

.center_div h1 {
    text-align: center;
}

.description {
    width: 100%;
    min-height: 80px;
    background-color: #AAAAAA;
    padding: 8px;
    border-radius: 5px;
}

.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

.event-list  a {
    display: inline-block !important;
    color: red;
    text-decoration: none;
}


.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: #2b57ff;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
}

.event-list > li > time > .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}
.event-list > li time > .month {
    display: block;
    font-size: 26pt;
    font-weight: 900;
    line-height: 1;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}
.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.event-list > li > .social > ul > li {
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

ul.pagination li:first-child,
ul.pagination li:last-child {
    /* display: none; */
}

.for-pages {
    margin-top: 20px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px 0px 0px 100px;
        margin: 10px;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 140px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        height: 140px;
        text-align: left;
        padding-right: 40px;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li {
        display: block;
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
  
    .divide {
        display: flex;
    }
    .left {
        position: fixed;
        left: 0;
        width: 250px;
        font-size: 11pt;
        flex: 10%;
    }
}

.center-filters {
    display: flex;
    justify-content: space-around;
    background: #631a15;
    height: 100px;
    color: white;
    border-top: 2px solid #313131;
}

.center-filters div{
    margin-right: 15px;
}

.center-filters div .input-group-prepend{
    margin-right: 0;
}

#categories {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin:30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #categories td, #categories th {
    border: 1px;
    padding: 9px;
  }
  
  #categories tr:nth-child(even){background-color: #e2d7d7;}
  
  #categories th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e2d7d7;
    color: black;
    width: 10%;  
  }

  #categories table,#categories th,#categories td {
    border: 2px solid black;
  }
